@{
    ViewBag.Title = "Create blogpost";
}
<div class=" container-fluid">
    
<div class="col-md-8">
    <div> div {
        padding: 2cm 4cm 3cm 4cm;
        }

        <div class="row">
            <input id="Text1" type="text" />
            <a href="/" class="btn btn-primary pull-right btnNext"></a>
        </div>
    </div>  
</div>
</div>
