@model IEnumerable<MVCProject.Models.BlogEntry>
@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="body">
        <div class="container">
            <div class="jumbotron">
                <a class="story-img"><img src="http://www.wallpapermotion.com/wallpapers/800x600/5846-Abstract-Geometric-Shapes-(www.WallpaperMotion.com).jpg" style="width:auto;height:300px"></a>
                <h3>Post Entry Title</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.
                </p>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            @foreach(MVCProject.Models.BlogEntry b in Model){
                                @Html.Partial("_BlogPost_List", b);
                            }
                            @if(Model.Count() > 5){
                                <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

